body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(gifs/gif_1.gif);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    align-items: center;
}

@font-face {
    font-family: 'font';
    src: url('fonts/font.ttf') format('truetype');

}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    margin-left: 5px;
    margin-top: 5px;
}

.icon img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 5px;
}

#button {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 325px;
    transition: 0.5s;
    font-family: 'font';
    font-size: 20px;
}

.header_text {
    font-family: 'font';
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    height: 60px;
    bottom: 20px;
}

.text {
    font-family: 'font';
    font-size: 30px;
    font-weight: lighter;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    height: 55px;
}

.button {
    background-color: #75427C;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.container {
    width: 800px;
    height: 480px;
    background-color: #42497C;
    border: 1px solid #ffffff;
    padding: 20px;
    box-sizing: border-box;
  }

footer {
    color: #fff;
    padding: 5px;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 125px;
    right: 0;
    font-family: 'font';
}
