body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(gif/gif.gif);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

@font-face {
    font-family: 'font';
    src: url('fonts/font.ttf') format('truetype');

}

.header_text {
    font-family: 'font';
    font-size: 60px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #42497C;
    border: 1px solid #ffffff;
}

button {
    padding: 10px 20px;
    background-color: #75427C;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}
  
.brett {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-top: 20px;
    font-family: 'font';
}
  
.zelle {
    width: 100px;
    height: 100px;
    border: 1px solid #ffffff;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font: 'font'solid #ffffff;
    color: #ffffff;
}

.neustartButton{
    font-family: 'font';
    font-size: 20px;
}
  
.status {
    margin-top: 20px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'font';
}
  