body {
    background-color: rgb(93, 87, 87)
}



@media only screen and (min-width: 600px) and (max-width: 930px) {

    .cat_1 {

        position: absolute;
    }
    
    .cat_2 {

        position: absolute;
    }
    
    .cat_3 {
        position: absolute;
    }
    


}